<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo</title>
</head>
<body>
    <form action="/ninjas/dojos/process" method="POST">
        First Name <input type="text" name="first_name">
        Last Name <input type="text" name="last_name">
        Email <input type="text" name="email">
        <input type="submit">
    </form>
</body>
</html>