<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    <title>Full Friends</title>
</head>
<body>
    <div id="wrapper"> 
        {% for friend in friends: %}           
        <form action="/friends/{{ friend.id }}" method="POST">     
                 
            <span>First Name: </span> <span><input type="text" name="first_name" id="first_name" value="{{ friend.first_name }}"></span><br>
            <span>Last Name: </span> <span><input type="text" name="last_name" id="last_name" value="{{ friend.last_name }}"></span><br>
            <span>Email: </span> <span><input type="text" name="email" id="email" value="{{ friend.email }}"></span><br>      
            <span><input type="submit" value="Update"></span>             
        </form>
        {% endfor %}
    </div>
</body>
</html>