<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax Demo</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>       
</head>
<body>
    <div class="container">
        <h1>Demo 1</h1>
        <button class="btn btn-primary" id="button_json">Fetch HttpResponse from user_login/all.json</button>
        <button class="btn btn-primary" id="button_html">Fetch HttpResponse from user_login/all.html</button> 
        <div class="col-10 mt-3 p-2 border border-dark" id="placeholder1">Placeholder for Ajax content</div>  
        <script>
            $('#button_json').click(function(){
                $.ajax({
                    url: '/user_login/all.json',
                    success: function(serverResponse) {
                        console.log('success. serverResponse: ', serverResponse)
                        $('#placeholder1').html(JSON.stringify(serverResponse))
                    }
                })
            });
            $('#button_html').click(function(){
                $.ajax({
                    url: '/user_login/all.html',
                    success: function(serverResponse) {
                        console.log('success. serverResponse: ', serverResponse)
                        $('#placeholder1').html(serverResponse)
                    }
                })                
            })
        </script>
    </div>

    <div class="container mt-5">
        <h1>Demo 2 - Ajax Form</h1>        
        <form action="/user_login/find" method="POST">
            {% csrf_token %}
            Find all users whose first name starts with
            <input type="text" name="first_name_start_with" id='ajax_first_name'>
        </form>
        <div class="col-10 mt-3 p-2 border border-dark" id="placeholder2">Placeholder for Ajax content</div> 
        
        <script>
            $('#ajax_first_name').keyup(function(){
                $.ajax({
                    url: '/user_login/find',
                    method: 'post',
                    data: $(this).parent().serialize(),
                    success: function(serverResponse) {
                        console.log('success', serverResponse)
                        $('#placeholder2').html(serverResponse)
                    }
                })
            });
        </script>
    </div>

    <div class="container mt-5">
        <h1>Demo 3 - Ajax Form II</h1>        
        <form action="/user_login/create" method="POST" class="ajax_form" id="create_user_ajax_form">
            {% csrf_token %}
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email Address: <input type="text" name="email">
            <input type="submit" value="Submit">
        </form>
        <div class="col-10 mt-3 p-2 border border-dark" id="placeholder3">Placeholder for Ajax content</div> 
        
        <script>
            $('#create_user_ajax_form').submit(function(e){                
                e.preventDefault()
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'post',
                    data: $(this).serialize(),
                    success: function(serverResponse) {
                        console.log('success', serverResponse)
                        $('#placeholder3').html(serverResponse)
                    }
                })
            })
        </script>
    </div>    
</body>
</html>