<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>        
</head>
<body>
    <div class="container">
        <head class="header clearfix">
            <h2>Edit user {{user.id}}</h2>
        </head>
        <br>
        <form action="update" method="POST">
            {% csrf_token %}
            <div class="form-group col-md-4">
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
            </div>
            <div class="form-group col-md-4">
                    <label for="last_name">Last name:</label>
                    <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
                </div>            
            <div class="form-group col-md-4">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
            </div> 
            <input type="hidden" name="id" value="{{user.id}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/users">Go back</a>        

    </div>   
    
</body>
</html>