<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Signin Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>        
</head>
<body>
    <div class="container">
        <header class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signin">Sign in</a>
                </li>
                </ul>
            </nav>
            <h3 class="text-muted">Test App</h3>
        </header>
        <hr class="my-4">        
    </div>

    <div class="container">
        <head class="header clearfix">
            <h2>Login</h2>
        </head>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="login" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-form-label col-sm-2 col-form-label-sm" for="name">Email Address:</label>
                <input type="email" class="form-control form-control-sm col-md-3" name="email">
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 col-form-label-sm" for="name">Password:</label>
                <input type="password" class="form-control form-control-sm col-md-3" name="pw">
            </div>                                            
            <button type="submit" class="btn btn-primary">Login</button>               
        </form>
        <br>
        <a href="register">Don't have an account? - Register</a>
    </div>    
             
</body>
</html>