<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<!-- <h1>All baseball leagues</h1>
		<ol>
			{% for league in l1 %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All women's leagues</h1>
		<ol>
			{% for league in l2 %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>All leagues where sport is any type of hockey</h1>
		<ol>
			{% for league in l3 %}
				<li>{{league.name}} || {{ league.sport }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>All leagues where sport is something OTHER THAN football</h1>
		<ol>
			{% for league in l4 %}
				<li>{{league.name}} || {{ league.sport }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>All leagues that call themselves "conferences"</h1>
		<ol>
			{% for league in l5 %}
				<li>{{league.name}} || {{ league.sport }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All leagues in the Atlantic region</h1>
		<ol>
			{% for league in l6 %}
				<li>{{league.name}} || {{ league.sport }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams based in Dallas</h1>
		<ol>
			{% for team in t1 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams named the Raptors</h1>
		<ol>
			{% for team in t2 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams whose location includes "City"</h1>
		<ol>
			{% for team in t3 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams whose names begin with "T"</h1>
		<ol>
			{% for team in t4 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams, ordered alphabetically by location</h1>
		<ol>
			{% for team in t5 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		
		<h1>All teams, ordered by team name in reverse alphabetical order</h1>
		<ol>
			{% for team in t6 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Every player with last name "Cooper"</h1>
		<ol>
			{% for player in p1 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Every player with first name "Joshua"</h1>
		<ol>
			{% for player in p2 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</h1>
		<ol>
			{% for player in p3 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Every player with first name "Alexander" OR first name "Wyatt"</h1>
		<ol>
			{% for player in p4 %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol> -->

		<h1>all teams in the Atlantic Soccer Conference</h1>
		<ol>
			{% for team in t21 %}
				<li>{{team.location}} {{team.team_name}} || {{ team.league.name }}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all (current) players on the Boston Penguins</h1>
		<ol>
			{% for player in p21 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.location}} {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>all (current) players in the International Collegiate Baseball Conference</h1>
		<ol>
			{% for player in p22 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.location}} {{player.curr_team.team_name}} || {{player.curr_team.league.name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>all (current) players in the American Conference of Amateur Football with last name "Lopez"</h1>
		<ol>
			{% for player in p23 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.location}} {{player.curr_team.team_name}} || {{player.curr_team.league.name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all football players</h1>
		<ol>
			{% for player in p24 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.league.sport}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>	
		<h1>all teams with a (current) player named "Sophia"</h1>
		<ol>
			{% for team in t22 %}
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all leagues with a (current) player named "Sophia"</h1>
		<ol>
			{% for league in l21 %}
				<li>{{league.name}} || {{ league.sport }}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders
		</h1>
		<ol>
			{% for player in p25 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all teams, past and present, that Samuel Evans has played with</h1>
		<ol>
			{% for team in t23 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all players, past and present, with the Manitoba Tiger-Cats</h1>
		<ol>
			{% for player in p26 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all players who were formerly (but aren't currently) with the Wichita Vikings</h1>
		<ol>
			{% for player in p27 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.location}} {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>every team that Jacob Gray played for before he joined the Oregon Colts</h1>
		<ol>
			{% for team in t24 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h1>
		<ol>
			{% for player in p28 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.location}} {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all teams that have had 12 or more players, past and present.</h1>
		<ol>
			{% for team in t25 %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>all players and count of teams played for, sorted by the number of teams they've played for</h1>
		<ol>
			{% for player in p29 %}
				<li>{{player.first_name}} {{player.last_name}} || {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>