<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    <title>Wall Forum</title>
</head>
<body
    <div id="wrapper">       
        <div id="header">
            <h1>CodingDojo Wall</h1>
        </div>
        <hr>
        
    {{ user }}
        <form action="/registration" method="POST">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %} 
            <br>           
            <span>First Name: </span> <span><input type="text" name="first_name" id="first_name"></span><br>
            <span>Last Name: </span> <span><input type="text" name="last_name" id="last_name"></span><br>
            <span>Email: </span> <span><input type="text" name="email" id="email"></span><br>    
            <span>Password: </span> <span><input type="password" name="password" id="password"></span><br>    
            <span>Password Confirmation: </span> <span><input type="password" name="pwd_confirm" id="pwd_confirm"></span><br> <br>            
            <span><input type="submit" value="Register"></span> 
        </form>
        <form action="/login" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %} 
            <br>
            <span>Email: </span> <span><input type="text" name="email" id="email"></span><br>    
            <span>Password: </span> <span><input type="password" name="password" id="password"></span><br>    
            <br>
            <span><input type="submit" value="Login"></span> 
        </form>        
    </div>
</body>
</html>