<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    <title>Email Validation</title>
</head>
<body>
    <div id="wrapper">
        <!-- {{ all_emails }} -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="error">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/emails" method="POST">
            <label for="email">Email Address: <input type="text" name="email" id="email"></label> <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>