<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    <title>Email Validation</title>
</head>
<body>
    <div id="wrapper">
        <div id="success">
            <p>The email address you entered(__) is a VALID email address! Thank you!</p>
        </div>
        <ul><u>Email Addresses Entered:</u>
            {% for email in all_emails %}
            <li><span>{{ email.address }}</span> <span>{{ email.created_at.strftime("%d/%m/%y %I:%M %p") }}</span></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>