<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session word</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'session_words/css/main.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="add_side">            
            <form action="session_words/add_word" method="POST">
                <h2>Add a new word</h2>
                {% csrf_token %}
                <input type="text" name="word">
                <p>Choose color</p>
                <input type="radio" name="color" value="Red">Red <br>
                <input type="radio" name="color" value="Green">Green <br>
                <input type="radio" name="color" value="Blue">Blue <br> <br>
                <input type="checkbox" name="big_font" value="big_font">show in BIG fonts! <br><br>
                <input type="submit" name="submit" value="Add to Session">                
            </form>
        </div>
        <div id="clear_side">
            <form action="session_words/clear" method="POST">
                {% csrf_token %}
                <input type="submit" name="clear" value="Clear Session"> <br> <br>
            </form>
                {% for item in request.session.saved %}
                    <p><span style="color: {{item.color}}; font-size:{{item.font}}">{{item.word}}</span> - added on {{item.time}}</p>
                {% endfor %}

        </div>
    </div>
</body>
</html>