<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div id="wrapper">        
            <div id="div_gold">
                <label for="gold">Your Gold &emsp;</label>
                <input type="text" name="gold" value= "{{ session['current_gold']}}">
            </div>            
            <div class="place">
                <form action="/process_money" method="POST">
                    <h1>Farm</h1>
                    <p>(earns 10-20 golds)</p>
                    <input type="hidden" name="building" value="farm" />                
                    <input type="submit" name="farm" value="Find Gold!">     
                </form>  
            </div>      
               
            <div class="place">
                <form action="/process_money" method="POST">    
                    <h1>Cave</h1>
                    <p>(earns 5-10 golds)</p>
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" name="cave" value="Find Gold!">            
                </form>                
            </div>
            <div class="place">
                <form action="/process_money" method="POST">                
                    <h1>House</h1>
                    <p>(earns 2-5 golds)</p>
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" name="house" value="Find Gold!">            
                </form>                            
            </div>
            <div class="place">
                <form action="/process_money" method="POST">                
                    <h1>Casino</h1>
                    <p>(earns/takes 0-50 golds)</p>
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" name="casino" value="Find Gold!">            
                </form>                 
            </div>  
            <label for="activity">Activity</label> <br>            
            <div id="activities">
                {% for i in session['record']: %}
                    {% if i.gold >= 0: %}
                        <p style="color:green">
                            Earned {{ i.gold }} golds from the {{ i.place }}! {{ i.time}}                        
                        </p> 
                    {% else %}
                        <p style="color:red">
                            Entered a casino and lost {{ i.gold*(-1) }} golds... Ouch.. {{ i.time}}                        
                        </p>
                    {% endif %}            
                {% endfor%}
            </div>        
                                                        
        <form action="/reset" id="reset">
            <input type="submit" name="submit" value="Play again">
        </form>        
    </div>

</body>
</html>